<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git-Laid</title>
</head>
<body onload="checkIfLoggedIn()">  
    
    <div>  
        <h1>Welcome to Git-Laid</h1> 
        <h2>Admin Login</h2>
        <form id="login", method="post">
        <input type="email" id="email" placeholder="Email"/>
        <input type="password" id="password" placeholder="Password"/>
        <button type="submit" name="login1"> Login</button>
        </form>
    </div>
    <p>Normal Login? Click <a href="login.html">here</a></p>
   <script src="js/adminLogin.js"></script>
</body>
</html>