<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Admin</title>
</head>
<body>
    <H1>Delete a Profile</H1>
    <h2>Push the butten to delete profile</h2>
    <form id="deleteProfileAdmin" method="DELETE">
        <input type="text" id="usersId" placeholder="Users ID"> <br> <br>
        <button type="submit" name="Submit">Delete Profile</button>
    </form>
    <a href="homepageAdmin.html" class="mainpage-nav">Home Page</a>
    <script src="js/deleteProfileAdmin.js"></script>
</body>
</html>