<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Profile</title>
</head>
<body onload="checkIfLoggedIn()">
<div>
    <h1>Delete Profile</h1>
    <h2>Push the butten to delete profile</h2>
    <form id="deleteProfile" method="DELETE">
        <button type="submit" name="Submit">Delete Profile</button>
    </form>
</div>
    <a href="mainpage.html" class="mainpage-nav">Main Page</a>
    <script src="js/deleteProfile.js"></script>
</body>
</html>