<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git-Laid</title>
</head>
<body>  
    
    <div>  
        <h1>Welcome to Git-Laid</h1> 
        <h2>Login</h2>
        <form id="login", method="post">
        <input type="email" id="email" placeholder="Email"/>
        <input type="password" id="password" placeholder="Password"/>
        <button type="submit" name="login1"> Login</button>
        </form>
    </div>
    <a href="/view/register.html" class="register-nav">Wanna sign up?</a>

   <script src="js/login.js"></script>
</body>
</html>