<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
</head>
<body onload="checkIfLoggedIn()">

    <h1>
        Mainpage
    </h1>
    <a href="setupProfile.html" class="setupProfile-nav">Setup Profile</a>
    <a href="login.html" class="logout-nav" onclick="logout()">Log out</a>

    <main>
        <h2>Your Profile Information</h2>
        <form>
            <button type="button" id="matchesB" onclick="getProfileInformation()">Profile Information</button>
        </form>
        <table id="table1">
            <tr id="headers">
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Interests</th>
                <th>University</th>
            </tr>
        </table>


    </main>
    <script src="js/mainpage.js"></script>

</body>
</html>