<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
</head>
<body onload="checkIfLoggedIn()">

    <h1>
        Mainpage
    </h1>
    <a href="setupProfile.html" class="setupProfile-nav">Setup Profile</a>
    <a href="deleteProfile.html" class="deleteProfile-nav">Delete Profile</a>
    <a href="login.html" class="logout-nav" onclick="logout()">Log Out</a>

    <main>
        <h2>Your Profile</h2>

            <button type="button" id="profileB" onclick="getProfileInformation()">Refresh</button>
            <table id="profiletable">
            <tr id="headers">
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Interests</th>
                <th></th>
                <th></th>
                <th>University</th>
            </tr>
        
        </table>
        <br> <br>

        <h2>Possible matches</h2>
            <button type="button" id="tableB" onclick="getPossibleLikes()">Refresh</button>
        <table id="liketbl">
            <tr id="headers">
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Interests</th>
                <th></th>
                <th></th>
                <th>University</th>
                <th>Like</th> 
            </tr>
        </table>


    </main>
    <script src="js/mainpage.js"></script>

</body>
</html>