<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git-Laid</title>
</head>
<body>
    <div>
        <h1>Welcome to Git-Laid</h1>
        <form id="create" method="post">
            <input type="text" id="username" placeholder="Username"/>
            <input type="email" id="email" placeholder="Email"/>
            <input type="password" id="password" placeholder="Password"/>
            <button type="submit" name="Submit">Create User</button>
        </form>
    </div>
    <div>
        <h1>Get user by name</h1>
        <button type="button" id="getUsers">Get User</button>
    </div>
   
    <div>
        <form id="login", method="post">
        <h1>Login</h1>
        <input type="text" id="login_email" placeholder="Email"/>
        <input type="text" id="login_password" placeholder="Password"/>
        <button type="submit" name="login1"> Login</button>
        </form>
    </div>
   
    <script src="js/register.js"></script>
</body>
</html>