<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git-Laid</title>
</head>
<body>
    <div>
        <h1>Create your profile</h1>
        <h2>Make sure to fill in all the empty fields</h2>
        <form id="createProfile" method="post">
            <input type="text" id="name" placeholder="Name"/> <br>
            <input type="text" id="age" placeholder="Age"/> <br>
            Male: <input type="radio" name="gender" value="male"> <br>
            Female: <input type="radio" name="gender" value="female"> <br>
            <input type="text" id="university" placeholder="University"> <br> <br>
            <button type="submit" name="Submit">Save profile</button>
        </form>
    </div>
    <script src="js/createProfile.js"></script>
</body>
</html>