<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup Admin</title>
</head>
<body onload="checkIfLoggedIn()">
    <h1>Update a Profile</h1>
    <h2>Make sure to fill in all the empty fields</h2>
        <form id="setupProfileAdmin" method="PATCH">
            <input type="text" id="name" placeholder="Name"/> <br> <br>
            <input type="text" id="age" placeholder="Age"/> <br><br> 
            <input type="text" id="gender" placeholder="Gender"> <br> <br>
            <input type="text" id="interest1" placeholder="Interests"> <br> <br>
            <input type="text" id="interest2" placeholder="Interests"> <br> <br>
            <input type="text" id="interest3" placeholder="Interests"> <br> <br>
            <input type="text" id="university" placeholder="University"> <br> <br>
            <input type="text" id="usersId" placeholder="Users ID"> <br> <br>
            <button type="submit" name="Submit">Save a profile</button>
        </form>
    <a href="homepageAdmin.html" class="mainpage-nav">Home Page</a>


    <script src="js/setupProfileAdmin.js"></script>
</body>
</html>